#bar-chart {
  svg {
    // border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.12) 0 0 2px, rgba(0, 0, 0, 0.14) 0 1px 2px;
    margin: 50px 0;
    width: 100%;
  }
}
.bar {
  fill: rgb(155, 225, 243);
}

.tooltip-barchart {
  background: white;
  box-shadow: $shadow-default;
  padding: $xs-size;
  border-radius: 5px;
  font-size: x-small;
  box-shadow: rgba(0, 0, 0, 0.12) 0 0 2px, rgba(0, 0, 0, 0.14) 0 1px 2px;
}

.rsm-svg {
}
// .world-map {
//   position: relative;
//   height: 500px;
//   width: fit-content;
//   margin: $m-size;
//   box-shadow: $shadow-default;

//   svg {
//     background-color: rgb(130, 179, 219);
//   }

//   path {
//     stroke-width: 0.01px;
//     stroke: white;
//     fill: rgba(241, 224, 164, 0.63);
//   }
// }
// .tooltip-map {
//   background: white;
//   box-shadow: $shadow-default;
//   padding: $xs-size;
//   border-radius: 5px;
//   font-size: x-small;
//   position: absolute;
// }

// .tt {
//   color: black;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100px;
//   height: 100px;
// }
