.overview {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  justify-content: center;
  align-items: center;

  .input-group {
    width: 100%;
    max-width: 30em;
  }
}

.overview-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
